
.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    gap: 1rem;
    padding-bottom: 1rem
}

.main h1 {
    padding-top: 1rem;
}

.main p {
    width: 45ch;
    line-height: 1.7;
}

.main p a{
    color: inherit;
}

.command-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-weight: 700;
}

.command-wrapper div {
    border: 3px solid var(--clr-secondary);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlighted {
    color: var(--clr-secondary);
}

@media screen and (max-width: 600px) {
    .main p {
        width: 30ch;
    }
}