
.branding {
    font-size: 2rem;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr-primary);
}

.nav-links {
    display: flex;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    transition: all 150ms;
}

.nav-links a:hover {
    background-color: var(--clr-primary-hover);
}

.nav svg {
    display: none;
    transition: transform 200ms;
}

@media screen and (max-width: 600px) {
    .branding {
        padding: .5rem;
    }

    .rotated {
        transform: rotate(180deg);
    }

   .nav {
        flex-direction: column;
   }

   .toggled.nav-links{
        display: flex;
   }

   .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
   }

   .nav svg {
        display: block;
        position: absolute;
        border-style: none;
        top: 20px;
        right: 50px;
        height: 20px;
        background-color: transparent;
    }

   .nav-links a{
        padding: .5rem;
        text-align: center;
        background-color: var(--clr-primary-hover);
   }
}