
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 5rem;
    background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85) ), url(https://wallpaperaccess.com/full/8351142.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main p {
    line-height: 1.7;
    width: 37ch;
}

.main button {
    margin-top: 1rem;
    border-style: none;
    padding: 1rem;
    border-radius: 15px;
    color: white;
    background-color: var(--clr-primary);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: 2px solid var(--clr-secondary);
    cursor: pointer;
}

.main button:hover{
    background-color: var(--clr-secondary-hover);
}

.highlighted {
    color: var(--clr-secondary);
}

@media screen and (max-width: 600px) {
    .main {
        padding: 2rem;
    }

    .main p {
        width: 30ch;
    }
}